<h1>About The Forum</h1>  
<div class="well">
<h2>Who are mature students?</h2>
<p>Every year thousands of adults go to university or college. It's a great chance to develop new skills and career options – at any age.</p>
<p>Mature students are anyone over the age of 21 who didn't go to university after school or college. Some might have taken gap years to volunteer and travel the world, while 40% of mature students are over 30 and have had work, mortgage or family responsibilities.</p>
 
<h2>Studying as a mature student</h2>

<p>There are many ways you can experience higher education. Around a third of undergraduates are mature students – of all ages and backgrounds.</p> 
<ul> 
    <li> Explore a subject you find interesting or rewarding.</li>
    <li>Progress your career by increasing your skills and knowledge.</li>
    <li> Change direction to take on a new challenge.</li>  
  </ul> 
  