<p>Hello <%= @resource.email %>!</p>

<h5>Someone has requested a link to change your password. You can do this through the link below.</h5>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<h5>If you didn't request this, please ignore this email.</h5>
<h5>Your password won't change until you access the link above and create a new one.</h5>
